# Code owners for this repository
# These users will be automatically requested for review on PRs

# Default owners for everything in the repo
* @mfreeborndbt @joaoclemencio-dbtlabs @ctcac00 @tpugliese
